{{- /* Safe Google Analytics partial.
     Use site param "googleAnalytics" or "google_analytics".
     This avoids referencing .Site.GoogleAnalytics directly (which can error in some contexts). */ -}}
{{- $ga := index .Site.Params "googleAnalytics" -}}
{{- if not $ga -}}
  {{- $ga = index .Site.Params "google_analytics" -}}
{{- end -}}
{{- if $ga -}}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $ga }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $ga }}');
</script>
{{- end -}}
